<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName"><a href="index.html"><?js= env.conf.templates.applicationName ?></a></h3>

    <?js
    if (!env.conf.templates.meta.nestedNamespaces) {  // it's fucked up for namespaces
    ?>
    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Docs">
    </div>
    <?js
    }
    ?>
    <?js
    // we need to parse this.nav into a list of lists based on namespaces

    var navItems = [];
    var namespaces = {};
    for (var i = 0; i < this.nav.length; i++) {
        var item = this.nav[i];
        var currentItem = {
            item: item,
            children: [],
        };

        if (!env.conf.templates.meta.nestedNamespaces) {
            navItems.push(currentItem);
            continue;
        }

        if (item.type === "namespace") {
            namespaces[item.longname] = currentItem;
            navItems.push(currentItem);
        }
        else {
            var split = item.longname.split(".");
            var parent = namespaces[split[0]];
            if (parent) {
                parent.children.push(currentItem);
            }
        }
    }

    ?>
    <?js= this.partial('navigation-items.tmpl', {
        top: true,
        items: navItems,
    }) ?>
</div>